body {
  font-family: Arial;
  padding: 20px;
}

.btn {
  display: block;
  padding: 15px;
  margin: 10px 0;
  background: #2c7be5;
  color: white;
  text-align: center;
  text-decoration: none;
}

.danger {
  background: #d9534f;
}
